.router {
	ul {
		display: flex;
		flex-direction: horizontal;
		justify-content: space-between;
	}
}

.router__link {
	background-color: $grey;
	border-radius: 25px;
	color: $black;
	padding: 5px;
	text-decoration: none;
	transition: all 0.2s ease-in-out;

	&:hover {
		background-color: $green;
		color: $white;
	}
}
