@import url("https://fonts.googleapis.com/css?family=Quicksand");
body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: white; }

a {
  color: green; }

figure {
  margin: 0 0 1rem; }
  figure img {
    max-width: 100%;
    height: auto; }

ul {
  list-style: none;
  padding: 0; }
  ul li {
    list-style-type: none; }

#site-wrap {
  font-family: "Quicksand", sans-serif;
  font-size: 16px; }

.container {
  display: grid;
  grid-gap: 20px;
  padding: 20px; }

.home .container {
  grid-template-columns: 2fr 8fr; }

.home__figure img {
  border-radius: 100%; }
