// Colors
$black: black;
$green: green;
$grey: grey;
$white: white;

// Fonts
$font-quicksand: 'Quicksand', sans-serif;

// Font Sizes
$font-size-base: 16px;
$font-size-xs: 0.75rem;
$font-size-sm: 1.25rem;
$font-size-md: 1.75rem;
$font-size-lg: 2rem;
